
.card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-gap: 5px;
    padding: 5px;
    justify-items: center;
    align-items: center;
  }
  
  /* when screen size is less than 900 */
  @media (max-width: 900px) {
    .card-container {
      grid-template-columns: repeat(3, 1fr); /* 3 column for middle screen */
    }
  }
  
  /* when screen size is less than 600 */
  @media (max-width: 600px) {
    .card-container {
      grid-template-columns: repeat(2, 1fr); /* 2 column on small screens */
    }
    
    .card img {
      width: 80%; 
      height: auto;
    }
  }
  
  .card {
    background: rgba(254, 255, 246, 0.8);
    border: 1px solid rgba(221, 221, 221, 0.5);
    border-radius: 5px;
    padding: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card img {
    width: 50%; 
    height: 50%;
    border-radius: 5px;
  }
  


